<h2>商品一覧</h2>
 <table>
   <thead>
     <tr>
       <th>商品ID</th>
       <th>商品名</th>
       <th>税抜き価格</th>
       <th>ジャンル</th>
       <th>ステータス</th>
     </tr>
   </thead>

   <% @items.each do |item| %>
   <tbody>
     <td><%= item.id %></td>
     <td><%= item.name %></td>
     <td><%= item.price %></td>
     <td><%= item.genre.name %></td>
     <td>稼働中</td>
   </tbody>
   <% end %>
 </table>